Checks: >
  -*,
  #bugprone-*,
  #modernize-*,
  #performance-*,
  readability-*,
  -modernize-use-trailing-return-type
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: ''